/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-trailhead-trail-sign {
	border: 5px solid #f00;
	background-color: purple;
	color: burlywood;
}
